BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Left
AlignOperands: DontAlign
AlignTrailingComments: { Kind: Leave }
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
BreakArrays: false
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: 0
FixNamespaceComments: false
IndentCaseLabels: true
IndentExternBlock: Indent
IndentPPDirectives: BeforeHash
IndentRequiresClause: false
InsertNewlineAtEOF: true
IntegerLiteralSeparator: { Binary: 8, Decimal: 3, Hex: 2 }
JavaScriptQuotes: Double
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: All
PointerAlignment: Left
QualifierAlignment: Left
RemoveParentheses: ReturnStatement
RemoveSemicolon: true
SeparateDefinitionBlocks: Always
SortIncludes: CaseInsensitive
SortJavaStaticImport: After
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpacesBeforeTrailingComments: 2
SpacesInContainerLiterals: false
TabWidth: 2
